%% == Core ==

%% Additional library directories to add to the code path
{lib_dirs, ["apps/*"]}.

%% == Erlang Compiler ==

%% Erlang files to compile before the rest. Rebar automatically compiles
%% parse_transforms and custom behaviours before anything other than the files
%% in this list.
{erl_first_files, []}.

%% Erlang compiler options
{erl_opts, [
        debug_info,
        warn_obsolete_guard,
        warn_unused_import,
        warn_shadow_vars,
        warn_export_vars,
        warn_export_all
    ]}.


%% == EDoc ==

%% EDoc options
{edoc_opts, []}.

%% == Common Test ==

%% Override the default "test" directory in which SUITEs are located
%% {ct_dir, "test"}.

%% Option to pass extra parameters when launching Common Test
%% {ct_extra_params, "-boot start_sasl -s myapp"}.

%% == Dependancies ==

{deps, [
        {appstart, ".*", {git, "https://github.com/hyperthunk/appstart.git", {tag, "0.0.4"}}}
       ]}.

%% == Subdirectories ==

%% Subdirectories?
{sub_dirs, ["apps/library", "apps/client", "apps/daemon"]}.
